<form id="signinForm" class="row g-3 mt-3">
    <div class="col-7">
        <label for="inputSignInEmail">Email</label>
        <input type="email" name="email" class="form-control" id="inputSignInEmail" placeholder="Email">
    </div>
    <div class="col-7">
        <label for="inputSignInPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputSignInPassword" placeholder="Password">
    </div>
    <div class="col-7">
        <button type="button" class="btn btn-primary mb-3" onclick="handleSignin()">Войти</button>
    </div>
</form>