<form id="signupForm" class="row g-3 mt-3">
    <div class="col-7">
        <label for="inputRegistNickname">Nickname</label>
        <input type="text" name="nickname" class="form-control" id="inputRegistNickname" placeholder="Nickname">
    </div>
    <div class="col-7">
        <label for="inputRegistEmail">Email</label>
        <input type="text" name="email" class="form-control" id="inputRegistEmail" placeholder="Email">
    </div>
    <div class="col-7">
        <label for="inputRegistPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputRegistPassword" placeholder="Password">
    </div>

    <div class="col-7">
        <button type="button" class="btn btn-primary mb-3" onclick="handleSignup()">Зарегистрироваться</button>
    </div>
</form>